:root {
  --black: #222;
  --grey: #bfbfbf;
  --white: white;
  --lightGreen: #79b473;
  --green: #70a37f;
  --blue: #41658a;
  --darkBlue: #414073;
  --purple: #4c3597;

  --headingFont: 'Lato', sans-serif;
  --bodyFont: 'Zilla Slab', serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: var(--bodyFont);
  letter-spacing: 0.75px;
}

a {
  font-size: 120%;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom-style: none;
  color: var(--lightGreen);
  font-family: var(--headingFont);
}

section {
  margin: 0 auto;
  width: 500px;
}
